#session,#protocol {
	border-right: solid;
	border-color: #8DBBD0;
}
.navbar img{
	height: 40px;
	width: 180px;
}
#session,
#protocol,
#meta {

}

#topnav {
	margin-top: 15px;
}

#protocol .feed-msg {
	display: block;
}