<div ng-controller="mainviewRecordButtonController as record">
	<button id="recordButton">RECORD JUST DO IT</button>
</div>

<div class="container-fluid">
	<div class="row">
	    <div class="col-md-12" id="topnav">
	        <div class="navbar navbar-static-top">
	            <div class="navbar-header">
	                <a class="navbar-brand" href="#"><img src="assets/img/logo.png" alt=""></a>
	            </div>
	            <ul class="nav navbar-nav">
	            </ul>
	        </div>
	    </div>
	</div>

	<div class="row">
	    <div id="session" class="col-md-2" ng-controller="mainviewSessionCtrl as session">

			<div class="leftrow demo-card-square mdl-card mdl-shadow--2dp">
				<div class="mdl-card__title">
					Session Information
				</div>
				<div class="mdl-card__actions mdl-card--border" >
					<label class=" mdl-button--colored mdl-js-button mdl-js-ripple-effect" >
						<strong>Name:</strong> {{ info.name }} <br /><br />
						<strong>Date:</strong> {{ info.date }} <br /><br />
						<strong>Starting Time:</strong> {{ info.startingTime }} <br /><br />
					</label>
				</div>

			</div>
			<div class="leftrow demo-card-square mdl-card mdl-shadow--2dp">
				<div class="mdl-card__title">
					Participants:
				</div>
				<div class="mdl-card__actions mdl-card--border" ng-repeat="user in users">
					<label class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" >
						{{ user.name }}
					</label>
				</div>

			</div>
	    </div>
	    <div id="protocol" class="col-md-5" ng-controller="mainviewProtocolCtrl as protocol">
	    	<h4>Protocol Feed</h4>
	    	<div class="row">
	    		<div class="col-md-12">
					<div id="card" class="demo-card-square mdl-card mdl-shadow--2dp" ng-repeat="item in protocol">
						<div class="mdl-card__title">
							<h2 class="mdl-card__title-text">{{ item.user }}</h2>
						</div>

						<div class="mdl-card__actions mdl-card--border">
							<div class="mdl-card__supporting-text">
								<span class="feed-msg" ng-repeat="message in item.messages">[{{ message.time }}] {{ message.message }}</span>
							</div>
						</div>
					</div>
	    		</div>
	    	</div>
	    </div>
	    <div id="meta" class="col-md-5" ng-controller="mainviewMetaCtrl as meta">
	    	<div id="keyword-cloud"></div>
	    </div>
	</div>
</div>