#login{
	margin-top:15%;
	margin-bottom:20%;
	padding-left:40%;
	padding-right:40%;
}

#logo{
	margin-left: 80px;
	margin-top: 80px;
	height: 80px;
	width: auto;
}

#login input{
	height: 40px;
	width: 394px;
	margin-bottom: 20px;
	font-size: large;
	text-align: center;


}

#login button{
	height: 40px;
	width: 394px;
	font-size: large;
}

form{
	margin: auto;
	padding: auto;
}

li{
	list-style: none;
}